@{
    ViewData["Title"] = "Home Page";
    var groups = (List<Group>)ViewData["groups"];
    var lecturers = (List<Lecturer>)ViewData["lecturers"];
}

<script>
    function changeGroup(id) {
        console.log(id);
        //window.location.href = window.location.href + "?group=" + id;
        var getUrl = window.location;
        var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
        window.location.href = baseUrl + "?group_id=" + id;
    }

</script>

<div class="text-center">
    <h1 class="display-4">Siemaszko ;-)</h1>
    
    @foreach (var group in groups)
    {
        <button onclick="changeGroup(@group.ID)">@group.Name</button>
    }

    @{ string[] weekdays = new string[] { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" }; }
    @foreach (var weekday in weekdays)
    {
        <h3>@weekday</h3>
        
        <table class="table">
            <thead>
            <tr>
                <th width="60%">Subject</th>
                <th width="20%">Lecturer</th>
                <th width="20%">Time</th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                @if (@item.StartTime.DayOfWeek.ToString() == weekday)
                {
                    <tr>
                        <td width="60%">@item.Name</td>
                        <td width="20%">@lecturers[@item.LecturerID].Title @lecturers[@item.LecturerID].FirstName @lecturers[@item.LecturerID].SecondName</td>
                        <td width="20%">@item.StartTime.ToString("HH:mm") - @item.EndTime.ToString("HH:mm")</td>
                    </tr>
                }
                </tbody>

            }
        </table>
    }

</div>
